numpy
scipy
psola
wget
torch
torchaudio
torchtext
librosa
torch-stft
kaldiio
pydub
pyannote.audio
frozendict
inflect
unidecode
nltk
g2p-en
editdistance
pesq
pystoi
crepe
resampy
ffmpeg-python
tqdm
gdown
ipywidgets
torchcrepe
einops
git+https://github.com/facebookresearch/hydra.git
omegaconf
git+https://github.com/lanpa/tensorboardX.git